body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #661a23;
    height: 100%;
    min-width: 1180px ;
    font-family: 'Montserrat', sans-serif;

}
header{
    height: 730px;
    background: #9bddd8 url("img/header/background.png") 0 0 no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    max-width: 1170px;
margin: 0 auto;
}


.nav-menu {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.logo{
    background:  url("img/header/logo.png") center center no-repeat;
    width: 160px;
    height: 25px;

}
.avatar img{

    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;

}
.HeaderWords{
    font-size: 18px;
    text-align: center;
    color: azure;
    padding: 100px 0;
}
.HeaderWords h1{
    font-family: 'Bitter', serif;
    font-size: 80px;
}

.nav-item{
    margin: 35px 10px;
}
.nav-item a {
    color: #FFF;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 1.5s;
}

.nav-item a:hover,
.nav-item a:focus {
    color: white;
    text-decoration: none;
    border: 3px solid white;
}

/*@media (max-width: 960px) {*/
    /*.avatarArrow{*/
        /*padding-right: 10px;*/
    /*}*/
    /*ul{*/
        /*margin: 0;*/
    /*}*/
    /*.nav-item {*/
        /*margin: 35px 1px;}*/
    /*.nav-item a {*/

        /*padding: 10px 10px;}*/

    /*.infoSecond{*/
        /*display: none;*/
    /*}*/
/*}*/
/*@media (max-width: 767px) {*/
    /*.infoSecond{*/
        /*display: none;*/
    /*}*/
    /*.avatar.avatar{*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*position: absolute;*/
        /*top: 10px;*/
        /*right: -20px;*/
    /*}*/
    /*.HeaderWords  h1{*/
        /*font-size: 33px;*/
    /*}*/
    /*.HeaderWords p{*/
        /*font-size: 14px;*/
    /*}*/
    /*.logo{*/
        /*padding: 20px;*/
    /*}*/
    /*.nav-menu {*/
        /*!*flex-flow: column wrap;*!*/
        /*!*justify-content: space-around;*!*/
        /*padding: 0;*/
        /*display: block;*/
        /*border: none;*/
    /*}*/

    /*.flexCenter{*/
        /*display: block;*/
    /*}*/
    /*.flexBetween{*/
        /*display: block;*/
    /*}*/
    /*.nav-item{*/
        /*margin: 0;*/
    /*}*/
    /*.nav-item a {*/
        /*border-top: 1px solid rgba(255, 255, 255, 0.4);*/
        /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
        /*text-align: center;*/
        /*border-radius: 0;*/

    /*}*/
    /*.HeaderWords{*/
        /*padding: 20px 0;*/
    /*}*/

/*}*/


.HeaderWords button{
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: #000000;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 50px;
    background: white;
    transition: 1.5s;
    border: 3px solid transparent;
}
.HeaderWords button:hover{
    border: 3px solid #01a2a6;
}





.avatarArrow{
    padding-right: 40px;
}
.avatar{
    padding-left: 40px ;
}

/*main*/
main{
    font-size: 16px;
    color: #777777;
}
h2 {
    color: #29d9c2;
    font-size: 60px ;
}
h3{
    color: #29d9c2;
    font-size: 30px ;
    margin: 10px 0;
}

/*FIRST CONTENT*/
.ContentFirst{
    position: relative;
    bottom: 40px;
    background: rgba(255,255,255,.9);
    padding: 50px 30px;
}
/*.imgFirst{*/
    /*background:  url("img/main/ContentFirst/icon.png") 0 0 no-repeat;*/
    /*height: 270px;*/
    /*width: 100%;*/
    /*background-size: 100%;*/
/*}*/



/*SECOND CONTENT*/



.ContentSecond{
    padding: 70px 10px;

}
.ContentSecond img{
    padding: 0 5px;
}
.infoSecond{
    color: #c1c1c1;
}
.iconSecond{
    background:  url("img/main/ContentSecond/icon.png") 0 0 no-repeat;
    height: 20px;
    width: 20px;
}
/*THIRD CONTENT*/

.ContentThird{
    height: 75px;
}

.search {
    padding: 5px;
    height: 2.5em;
    width: 15em;
    position: relative;
    border: 1px solid grey;
    border-radius: 50px;
    background: white;

}

.searchTerm {
    width:200px;
    float: right;
    border: none;
    outline:none;

    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    background: none;
    border: none;
    text-align: center;
    color: #111111;
    cursor: pointer;
}


/*ContentFourth*/


.FourthImg{

}
.FourthImg {
    background: url(img/main/ContentFourth/fourth.png) 0 0 no-repeat;
    height: 520px;
    max-width: 1170px;
    object-fit: cover;
    position: relative;

}
.FourthImg a:hover{
    text-decoration: none;
    color: white;
}

.romb {
    position: absolute;
    top: 50%;
    right: 470px;
    border:20px solid transparent; /* Прозрачные границы */
    border-right: 20px solid rgb(256, 256, 256, 0.8); /* Добавляем треугольник */
}


.mask{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 470px;
    height: 520px;
    background-color: rgb(256, 256, 256, 0.8);
    box-sizing: border-box;
}

.fourthLogo{
    background: url("img/main/ContentFourth/fourthIcon.png") 0 0 no-repeat;
    height: 90px;
}
.padding-10{
    padding: 40px 60px 0px 20px;
}

.SeeMore{
    position: absolute;
    top: 92%;
    right: 490px;
    color: white;
}
a{
    text-decoration: none;
}
/*!*ПЯта сексіця новини*!*/

.ContentFifth{
    margin-top: 30px;
}
.newsFifthOne{
    height: 360px;
    width: 670px;
    object-fit: cover;
    position: relative;
    background: url("img/main/ContentFifth/fifthTwo.png") 0 0 no-repeat;
}
.newsFifthTwo{
    height: 360px;
    width: 470px;
    object-fit: cover;
    position: relative;
    background: url("img/main/ContentFifth/fifthTree.png") 0 0 no-repeat;
}



.newsFifthTwoSize{
    height: inherit;
}


.maskFifth{
    position: absolute;
    top: 0;
    max-width: 330px;
    height:  360px;
    background-color: rgb(256, 256, 256, 0.8);
    box-sizing: border-box;
}
.rombFifth{
    position: absolute;
    top: 50%;
    right: 300px;
    border: 20px solid transparent;
    border-left: 20px solid rgb(256, 256, 256, 0.8);
}
.SeeMoreFifth{
    height: inherit;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.SeeMoreFifth a{
    color: white;
    text-decoration: none;
}
.SeeMoreFifth a:hover{
    color: white;
    text-decoration: none;
}

.FifthLogo{
    background: url("img/main/ContentFifth/fifthOne.png") 0 0 no-repeat;
    height: 90px;
    width: 90px;
}

.iconFifth{
    position: absolute;
    top: 35%;
    right: 30%;
}

/*Шостий Сторінки*/
.ContentSixfth{
    text-align: center;
    padding: 70px 0;
}
.ContentSixfth a{
    font-family: 'Bitter', serif;
    text-decoration: none;
    color: #666666;
    padding: 10px;
    font-size: 30px;

}

.ContentSixfth ul{
    list-style-type: none;
    height: 3em;
}
.ContentSixfth li{
    width: 2em;
}

.ContentSixfth a:hover{
    font-size: 40px;
    text-decoration: none;
    color: black;
}




/**/
.ContentEighth{

    text-align: center;
}


/*!*------------------------------------------------------*!*/

.PartOneNineth{
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}


.formNineth{
  background: #ffffa6;
    border-radius: 5px;
}
.iptutsNineth{
    display: flex;

    flex-direction: column;
}
.legentNineth{
    background: url("img/main/ContentNineth/formHeadNineth.png") 0 0 no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.legentNinethText{
    color: white;
    font-size: 22px;
    padding: 25px 250px;
}
.DataDayNineth{
    color: #42dcc0;
    font-size: 20px;
    padding: 20px 45px;
}
.iptutsNineth h6{
    font-size: 24px;
    margin: 0;
    padding-left: 30px;
}
.tableNineth{
    border-radius: 10px;
    border: 1px solid darkgrey;
    background: white;
    padding: 10px 20px;
    margin: 0 30px 0 40px;
}
.iconOneNineth{
    background: url("img/main/ContentFifth/fifthOne.png") 0 0 no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100%;
    padding-right: 30px;
}
.marginTop{
    margin-top: 50px;
}
.flexStart{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.flexStart2 {
    display: flex;
    align-self: flex-start;
}
.flexAlighCenter {
align-self: center;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.structureNineth{
    margin: 0 40px 0 60px;
    background: #f5e99e;
    color: #aea25c;
    border-bottom-left-radius: 10px;

}
.pagestructureNineth{
    padding: 10px 25px;
}

.addSubStructureNineth{
    display: flex;
    justify-content: flex-end;


}
.addSubStructureNineth:last-child{
    border-bottom-right-radius: 10px;

}
.addSubStructureNinethText{
    border-bottom-right-radius: 10px;
    color: #d8cb7d;
    text-decoration: none;
}

.lineNineth{
    border-top: 1px solid #d8cb7d;
    margin: 0 20px;
}

.DragNineth{
    border-radius: 10px;
    border: 5px dotted #e8e897;
    background: #fbf6a3;
    padding: 30px 0px;
    margin: 0 30px 80px 40px;
}

.bottomsOfNineth button{
    text-decoration: none;
    outline: none;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 50px;
    transition: 1.5s;
    border: 3px solid transparent;
}
.green{
    background: #c3f37f;
}
.blue{
    background: #3ddbc7;
}
.gray{
    color: #5d5c5c;
}
.bottomsOfNineth button:hover{
    border: 3px solid #8effdd;
}


.hw {
    height: 100px;
    width: 100px;
}
.hw2 {
    height: 100px;
    width: 1000px;
}


/*9 2part*/


.PartTwoNineth{

    width: 480px;
}

.lineTwoNineth{
    border-top: 1px solid #29d9c2;
    margin: 0 80px;
}
.flexStart{
    align-items: flex-start;
}

.coob{
    margin: 5px 0;
    border: 1px solid  #f5e99e;
    border-radius: 10px;
    padding: 15px;
}
.margin0.margin0{
 margin: 0px;
}
.padding-5{
    padding: 15px;
}

.marginBoth90 {
    margin: 90px auto;
}
.marginBoth60{
    margin: 60px auto;
}
.marginBoth30{
    margin: 30px auto;
}
.paddingBoth30{
    padding: 30px 0;
}

.padding20{
    padding: 20px;
}
.padding30{
    padding: 30px;
}
.padding60{
    padding: 60px;
}

.wight400{
    width: 400px;
}




.fontSize5em {
font-size: 5em;
}
.fontSize3em {
    font-size: 3em;
}



.footerFeedback{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}


.white{
color: white;
}



.borderred{
    border: 1px solid red;

}
.flexBetweenFoot{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.labelInput {
    width: 470px;
}

.fieldFoot {
    border-radius: 10px;
    border: 1px solid darkgrey;
    background: white;
    padding: 10px 20px;
}
.backgroundFoot{
min-height: 730px;
background: #9bddd8 url("img/footer/footfirst.png") 0 0 no-repeat;
width: 100%;
background-size: cover;
position: relative;
}

textarea{

    resize: none; /* Запрещаем изменять размер */
}
}

.footFirst{
    height: 660px;
    width: 100%;
    background: url("img/footfirst.png") 0 0 no-repeat;
}
.footFirst h2{
    color: white;

}
.shadow{
    background: url("img/footer/Shadow.png") 0 0 no-repeat;
    min-height: 730px;
    width: 100%;
    background-size: cover;
    position: relative;
}
.footFirst{
    color: white;
    text-align: center;

}

.flexStart2 button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.flexStart2 input{
    border: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}




.footSecond{
    height: 100%;
    background: linear-gradient(45deg, rgba(189,242,113,1) 57%,rgba(177,229,104,1) 57%);
}
.footSecond button{
    border: 0;
}


.footThird{
    background: #2f2933 url("img/footer/footThird.png") 0 0 repeat;
}
.footThird a{
    text-decoration: none;
    color: #5a595a;
}
.footThird a:hover{
    text-decoration: none;
    color: #8f928b;
}
.footForth{
    background: url("img/footForth.png") 0 0 no-repeat;
    height: 20px;
}
.autor{
 margin: 100px 0px 10px 0px;
    color: #a1a1a1;
}



.blueText{
    color: #01a2a6;
}
.blueB{
   background: #01a2a6;
}
.backgroundMain{
    background: #f2fefe;
}



.partTheeFootFirst,
.partTheeFootFirst{
    flex: 2;
    background: blueviolet;
}
.partTwoFootFirst{
    flex: 1;
}



.margin5{
    margin: 10px;
}
.margin10px0{
    margin:10px 0;
}
.margin40px0{
    margin:40px 0;
}
.marginbotton60{
   margin-bottom: 60px;
}
.formFootFirst{
    border: none;

}
.Flex21{
    flex: 21;
}
.flex47{
    flex: 47;
}